body {
    background-image: linear-gradient(
      to right,
      grey,
      rgba(255, 255, 255, 0.425),
      grey
    );
    height: 100%;
}
h1{
    font-family:'Montserrat', sans-serif;;
    font-size: 40px;
}

main {
    display: flex;
    box-shadow: 0px 5px 25px 5px rgba(8, 7, 7, 0.219);
}

.container {
    width: 1200px;
    margin: 20px auto auto auto;
  }

  .gray_container{
    background-color: rgba(0,0,0,0.4);
    color: white;
    height: 170px;
    width: 940px;
    padding: 0 30px;
    position: relative;/*absolute*/
    bottom: 0px;
    z-index: 5;
    text-align: center;
    }

#right_arrow{
    transform: scaleX(-1);
}

#right_arrow, #left_arrow{
    position: relative;
    top: 50%;
    width: 50px;
    height: auto;
    transform: translateY (-50%);
}

aside{
    height: auto;
    width: auto;
    padding: 10px;
    background-image:linear-gradient(to bottom, ivory, rgb(217, 227, 235)) ;
    cursor: pointer;
}

.picture {
    width: 1200px;
    height: 650px;
    display: flex;
    position: relative;
  }

  .picture img {
    height: 650px;
    width: 100%;
    margin: auto;
  }

  .thumbnail {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }


  #photo-title {
    font-size: 40px;
    opacity: 1;
    padding: 0;
    margin: 5px 0;
    position: absolute;
    bottom: 100px;
    left: 16px;
    color: white;
  }

  #photo-description {
    font-size: 25px;
    opacity: 0.6;
    padding-top: 0;
    margin-top: 5px;
    position: absolute;
    bottom: 20px;
    left: 16px;
    color: white;
  }

.bb{
    background-color: black;
    height: 150px;
    width: 1060px;
    opacity: 0.5;
    position: absolute; 
    bottom: 0px;
    left: 0px;
}

.thumbnail-img {
    height: 100%;
  }
  
  .thumbnails {
    background-color: rgb(226, 226, 226);
    box-shadow: 0px 9px 15px -3px rgba(0,0,0,1);
    height: 120px;
    padding: 4px;
    margin: 4px;
    position: relative;
    transition: all ease 300ms;
  }
  
  .thumbnails:hover {
    box-shadow: 0px 25px 20px -3px rgba(0,0,0,0.75);
    transform: scale(1.3) translate(0,-25%);
    z-index: 6;
    cursor: pointer;
  }

  .thumbnail-title {
    background-color: black;
    border-radius: 3px;
    position: absolute;
    width: 150%;
    visibility: hidden;
    height: 30px;
    top: -40px;
    left: -25%;
    box-shadow: 0px 13px 20px -3px rgba(0,0,0,0.75);
    z-index: 5;
    opacity: 0.7;
  }
  
  .thumbnail-title h6 {
    width: 100%;
    color: white;
    position: absolute;
    top: -18px;
    text-align: center;
  }
  
  .thumbnails:hover .thumbnail-title {
    visibility: visible;
  }

  .highlightedThumbnail {
    box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.479),
      0 6px 20px 0 rgba(0, 0, 0, 0.801);
    position: relative;
  }

  .highlightedThumbnail:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000000fb;
    border-width: 10px;
    margin-left: -10px;
  }
  