body {
    background-image: linear-gradient(
      to right,
      grey,
      rgba(255, 255, 255, 0.425),
      grey
    );
}

main {
    display: flex;
    box-shadow: 0px 5px 25px 5px rgba(8, 7, 7, 0.219);
}

.container {
    width: 1200px;
    margin: 20px auto auto auto;
  }

  .gray_container{
    background-color: rgba(0,0,0,0.4);
    color: white;
    height: 170px;
    width: 940px;
    padding: 0 30px;
    position: relative;/*absolute*/
    bottom: 0px;
    z-index: 5;
    text-align: center;
    }

#right_arrow{
    transform: scaleX(-1);
}

#right_arrow, #left_arrow{
    position: relative;
    top: 50%;
    width: 50px;
    height: auto;
    transform: translateY (-50%);
}

aside{
    height: auto;
    width: auto;
    padding: 10px;
    background-image:linear-gradient(to bottom, ivory, rgb(217, 227, 235)) ;
    cursor: pointer;
}

.picture {
    width: 1200px;
    height: 650px;
    display: flex;
    position: relative;
  }

  .picture img {
    max-height: 650px;
    width: 100%;
    margin: auto;
  }

  .thumbnail {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: center;
    background-color: brown;
  }


  #photo-title {
    font-size: 40px;
    opacity: 1;
    padding: 0;
    margin: 5px 0;
    position: absolute;
    bottom: 100px;
    left: 16px;
    color: white;
  }

  #photo-description {
    font-size: 25px;
    opacity: 0.6;
    padding-top: 0;
    margin-top: 5px;
    position: absolute;
    bottom: 40px;
    left: 16px;
    color: white;
  }

.bb{
    background-color: black;
    height: 150px;
    width: 1060px;
    opacity: 0.5;
    position: absolute; 
    bottom: 0px;
    left: 0px;
}
  